AI_Secretary_enhanced_optionA.json
{
  "name": "AI_secretary",
  "nodes": [
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/teams/f772a42d-b9dd-4f10-99ef-e52a0b229767/channels/19:Sox62wdO17L8xais5cZjhDSMiEXNsni9syXcI0-ZKLM1@thread.tacv2/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$top",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        -80
      ],
      "id": "e2688261-0632-4426-9f1a-32d9dccb5042",
      "name": "取頻道對話1",
      "credentials": {
        "oAuth2Api": {
          "id": "JMcGoaBxCaXP7XEA",
          "name": "TEAMS"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一個專業的AI秘書，專門幫助用戶通過自然語言創建、查詢和管理排程任務。\n\n## 核心功能\n1. **自然語言解析**：準確解析用戶訊息中的時間、任務類型和參數\n2. **排程記錄**：將解析結果儲存到secretarydb資料庫\n3. **用戶確認**：清晰回應用戶排程已記錄\n4. **錯誤處理**：當無法理解時，友好地要求澄清\n\n## 時間解析規則\n- **絕對時間**：\"明天下午三點\" → 轉換為具體日期時間\n- **相對時間**：\"兩小時後\" → 計算相對時間\n- **重複排程**：\"每天上午九點\" → 識別為重複排程\n- **時間範圍**：\"下週一到週三\" → 識別時間範圍\n\n## 任務類型識別\n1. **查詢工單** (query_ticket) - 關鍵詞：查詢、檢查、查看、工單、ticket\n2. **提醒通知** (reminder) - 關鍵詞：提醒、記得、通知、開會\n3. **自訂查詢** (custom_query) - 關鍵詞：查詢、數據、報告、統計\n4. **SSH指令** (ssh_command) - 關鍵詞：SSH、執行、命令、遠端\n\n## 回應格式\n```\n✅ 已記錄排程：\n📅 時間：{formatted_time}\n📝 任務：{task_description}\n🔧 類型：{task_type}\n📋 參數：{task_parameters}\n```\n\n## 數據儲存格式\n使用secretarydb工具儲存時，必須包含以下字段：\n- original_message: 原始用戶訊息\n- schedule_time: 解析後的時間（ISO格式）\n- task_type: 任務類型代碼\n- task_parameters: JSON格式參數\n- task_description: 人類可讀描述\n- parsed_intent: AI解析的完整意圖（JSON格式）\n\n## 錯誤處理\n1. **時間解析失敗**：請用戶提供更明確的時間\n2. **任務類型不明確**：列出可能的任務類型讓用戶選擇\n3. **參數不完整**：詢問缺失的參數\n4. **資料庫錯誤**：記錄錯誤並告知用戶稍後重試\n\n## 工具使用指南\n- **secretarydb**: 用於儲存和查詢排程記錄\n- 操作：executeQuery\n- 查詢格式：標準SQL語句",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        640,
        -80
      ],
      "id": "72405c67-095b-492a-aeb9-f433b1f33d69",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "mode": "id",
          "value": "626958a2-90d4-44f7-abb7-e341c7c44cd3",
          "__regex": "^([0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "19:Sox62wdO17L8xais5cZjhDSMiEXNsni9syXcI0-ZKLM1@thread.tacv2"
        },
        "contentType": "html",
        "message": "={{ $json.output.replace(/\\n/g, '<br>') }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1072,
        -80
      ],
      "id": "6901b114-02d8-4d0e-a902-714a657ef62b",
      "name": "Create message",
      "webhookId": "ed022463-e19a-4cb9-a2e5-a60b424c45f4",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "2jep2hpnuYSPmlOk",
          "name": "Microsoft Teams(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f97ddd73-6703-41c8-b61a-6d5ed71994ec",
              "leftValue": "={{ $json.value[0].body.content }}",
              "rightValue": "Powered by",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        336,
        -80
      ],
      "id": "33039dc6-8242-4874-bea6-fd343d0525fd",
      "name": "Filter"
    },
    {
      "parameters": {
        "teamId": {
          "__rl": true,
          "mode": "id",
          "value": "626958a2-90d4-44f7-abb7-e341c7c44cd3"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "19:Sox62wdO17L8xais5cZjhDSMiEXNsni9syXcI0-ZKLM1@thread.tacv2"
        }
      },
      "type": "n8n-nodes-base.microsoftTeamsTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -80
      ],
      "id": "f5dc6332-c50c-4a6d-a9bd-fa5ad8f0bb8b",
      "name": "Microsoft Teams Trigger",
      "webhookId": "7c2969f4-9f8b-4e00-9ffd-ac2b367a43dc",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "2jep2hpnuYSPmlOk",
          "name": "Microsoft Teams(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        528,
        176
      ],
      "id": "5b63d395-690c-4c6f-8483-2a04098e92e0",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "hvgGDG1mfEiHgQF1",
          "name": "Azure-OpenAI(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.value[0].channelIdentity.channelId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        176
      ],
      "id": "85258f87-7522-42c4-8654-676e79f70e17",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        352
      ],
      "id": "46240c35-d020-45f8-a03b-34412e6e8187",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "工具用於AI Secretary 存取用戶的排程登錄,使用資料表為secretarydb",
        "operation": "executeQuery",
        "query": "{{ $fromAI(\"query\").replace(/<[^>]*>?/gm, '') }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        944,
        176
      ],
      "id": "7afd5b8c-eb5e-4156-9b2c-19925d5a0fae",
      "name": "secretarydb",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一個AI排程管理器，專門讀取排程記錄並安排執行。\n\n## 核心功能\n1. **排程檢查**：定期檢查到期的排程任務\n2. **任務分配**：根據任務類型分配給對應的執行者\n3. **狀態更新**：更新排程狀態為「執行中」\n4. **觸發執行**：將任務傳遞給AI Agent2執行\n\n## 排程查詢邏輯\n1. **查詢條件**：\n   - status = 'pending'\n   - schedule_time <= CURRENT_TIMESTAMP\n   - 按priority和schedule_time排序\n2. **批量處理**：每次處理最多10個排程\n3. **避免重複**：檢查是否已在執行中\n\n## 任務處理流程\n```\n1. 從secretarydb讀取待執行排程\n2. 驗證排程有效性（時間、參數）\n3. 更新狀態為「executing」\n4. 根據task_type準備執行參數\n5. 將任務傳遞給AI Agent2\n```\n\n## 錯誤處理\n1. **無效排程**：標記為failed，記錄錯誤原因\n2. **執行超限**：跳過超過最大重試次數的排程\n3. **系統錯誤**：記錄日誌，繼續處理其他排程\n\n## 工具使用指南\n- **secretarydb1**: 用於讀取排程記錄和更新狀態\n- 操作：executeQuery\n- 重要查詢：\n  - 讀取待執行排程\n  - 更新排程狀態\n  - 記錄執行日誌",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        352
      ],
      "id": "86e9a5c5-c712-4a9a-947e-8b4d2d542659",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一個AI任務執行者，專門執行排程任務並將結果回傳給用戶。\n\n## 核心功能\n1. **任務執行**：根據任務類型和參數執行對應操作\n2. **結果處理**：格式化執行結果為用戶易讀的格式\n3. **錯誤處理**：捕獲和記錄執行錯誤\n4. **結果回傳**：將結果發送到Teams頻道\n\n## 任務類型處理\n\n### 1. 查詢工單 (query_ticket)\n- **工具**：NOCTT\n- **參數**：class_level, status, date_range, query_type\n- **SQL生成**：必須生成安全、有效的SQL查詢\n- **結果格式化**：表格、統計、摘要\n\n### 2. 提醒通知 (reminder)\n- **執行**：生成提醒訊息\n- **格式化**：友好、清晰的提醒內容\n- **附加信息**：可包含相關鏈接或附件\n\n### 3. 自訂查詢 (custom_query)\n- **工具**：NOCTT 或其他資料庫工具\n- **安全性**：必須驗證查詢安全性\n- **限制**：避免危險操作（DROP, DELETE等）\n\n### 4. SSH指令 (ssh_command)\n- **安全性**：必須驗證指令安全性\n- **日誌記錄**：完整記錄執行過程\n- **結果解析**：提取關鍵信息\n\n## 執行流程\n```\n1. 接收任務參數（來自AI Agent1）\n2. 根據task_type選擇執行策略\n3. 使用對應工具執行任務\n4. 捕獲執行結果或錯誤\n5. 格式化結果為Teams訊息\n6. 更新排程狀態和記錄日誌\n```\n\n## 結果格式化標準\n\n### Teams訊息格式\n```\n✅ 任務執行完成：{task_description}\n\n📊 執行結果：\n{formatted_result}\n\n⏱️ 執行時間：{execution_time}\n📋 任務ID：{task_id}\n```\n\n### 錯誤訊息格式\n```\n❌ 任務執行失敗：{task_description}\n\n⚠️ 錯誤原因：\n{error_message}\n\n🔧 建議操作：\n{suggested_action}\n\n⏱️ 執行時間：{execution_time}\n```\n\n## 工具使用指南\n\n### NOCTT 工具\n- **描述**：查詢NOC_TT_AI_3資料庫中的工單數據\n- **安全性要求**：\n  - 只允許SELECT查詢\n  - 必須包含WHERE條件限制數據量\n  - 避免複雜JOIN和子查詢\n- **查詢模板**：\n```sql\nSELECT TOP 100 * FROM NOC_TT_AI_3 \nWHERE Class_Level = '{class_level}' \nAND Status = '{status}'\nAND Created_Date >= '{start_date}'\nORDER BY Created_Date DESC\n```\n\n### secretarydb 工具\n- **更新狀態**：任務完成後更新排程狀態\n- **記錄日誌**：記錄執行過程和結果\n\n## 錯誤處理層級\n\n### 1. 輕微錯誤（繼續執行）\n- 查詢結果為空\n- 參數輕微不匹配\n- 網路輕微延遲\n\n### 2. 中等錯誤（重試機制）\n- 資料庫暫時不可用\n- API速率限制\n- 暫時性網路錯誤\n\n### 3. 嚴重錯誤（中止執行）\n- 資料庫連線失敗\n- 權限不足\n- 危險操作嘗試\n\n## 日誌記錄標準\n```\n時間戳: {timestamp}\n任務ID: {task_id}\n任務類型: {task_type}\n執行狀態: {status}\n執行時間: {duration_ms}\n錯誤詳情: {error_details}\n執行結果: {execution_result}\n```\n\n## 安全性要求\n1. **SQL注入防護**：所有查詢必須參數化\n2. **指令驗證**：SSH指令必須經過白名單驗證\n3. **權限檢查**：確保有足夠權限執行操作\n4. **日誌脫敏**：敏感信息必須脫敏處理",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        592,
        352
      ],
      "id": "4bd40056-a74f-4bf9-840b-eba151d542eb",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "工具用於AI Secretary 存取用戶的排程登錄,使用資料表為secretarydb",
        "operation": "executeQuery",
        "query": "{{ $fromAI(\"query\").replace(/<[^>]*>?/gm, '') }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        496,
        576
      ],
      "id": "c087fd37-328d-47ac-b6bf-2744acdc68d6",
      "name": "secretarydb1",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        160,
        608
      ],
      "id": "1ebd50b2-a085-4bfe-b773-5c0dc9057127",
      "name": "Azure OpenAI Chat Model1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "hvgGDG1mfEiHgQF1",
          "name": "Azure-OpenAI(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "當需要查詢 NOC_TT_AI_3 資料庫中的工單數據時，必須使用此工具。參數 query 請帶入純 SQL 語句。",
        "operation": "executeQuery",
        "query": "{{ $fromAI(\"query\") }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        832,
        560
      ],
      "id": "1e04706c-519d-4616-b2b8-53b8e0c18fc7",
      "name": "NOCTT",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        608,
        576
      ],
      "id": "799dba52-52c9-4e7a-b259-ad1872209199",
      "name": "Azure OpenAI Chat Model2",
      "credentials": {
        "azureOpenAiApi": {
          "id": "hvgGDG1mfEiHgQF1",
          "name": "Azure-OpenAI(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "mode": "id",
          "value": "626958a2-90d4-44f7-abb7-e341c7c44cd3",
          "__regex": "^([0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "19:Sox62wdO17L8xais5cZjhDSMiEXNsni9syXcI0-ZKLM1@thread.tacv2"
        },
        "contentType": "html",
        "message": "={{ $json.output.replace(/\\n/g, '<br>') }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        992,
        352
      ],
      "id": "942f6e4e-8ad9-471e-af40-5c5621caf7ee",
      "name": "Create message1",
      "webhookId": "ed022463-e19a-4cb9-a2e5-a60b424c45f4",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "2jep2hpnuYSPmlOk",
          "name": "Microsoft Teams(billyy,2026-01-03)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "取頻道對話1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Teams Trigger": {
      "main": [
        [
          {
            "node": "取頻道對話1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "secretarydb": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "secretarydb1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "NOCTT": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Create message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "42278715-4525-405e-9e4d-4c56f09a803d",
  "meta": {
    "instanceId": "d3cf18cd74dd25c4a9799187d60c623a8a494e015138d994a9f4aefc51661b5a"
  },
  "id": "yK8IioKN3Wf3mfup",
  "tags": []
}