AI_secretary.json
{
  "name": "AI_secretary",
  "nodes": [
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/teams/f772a42d-b9dd-4f10-99ef-e52a0b229767/channels/19:Sox62wdO17L8xais5cZjhDSMiEXNsni9syXcI0-ZKLM1@thread.tacv2/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$top",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        -80
      ],
      "id": "e2688261-0632-4426-9f1a-32d9dccb5042",
      "name": "取頻道對話1",
      "credentials": {
        "oAuth2Api": {
          "id": "JMcGoaBxCaXP7XEA",
          "name": "TEAMS"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一個有用的AI 秘書,專門幫用戶紀錄排程與定時執行排程結果給用戶,使用工具處理用戶排程,排程完畢後請回應用戶成功",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        640,
        -80
      ],
      "id": "72405c67-095b-492a-aeb9-f433b1f33d69",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "mode": "id",
          "value": "626958a2-90d4-44f7-abb7-e341c7c44cd3",
          "__regex": "^([0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "19:Sox62wdO17L8xais5cZjhDSMiEXNsni9syXcI0-ZKLM1@thread.tacv2"
        },
        "contentType": "html",
        "message": "={{ $json.output.replace(/\\n/g, '<br>') }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1072,
        -80
      ],
      "id": "6901b114-02d8-4d0e-a902-714a657ef62b",
      "name": "Create message",
      "webhookId": "ed022463-e19a-4cb9-a2e5-a60b424c45f4",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "2jep2hpnuYSPmlOk",
          "name": "Microsoft Teams(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f97ddd73-6703-41c8-b61a-6d5ed71994ec",
              "leftValue": "={{ $json.value[0].body.content }}",
              "rightValue": "Powered by",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        336,
        -80
      ],
      "id": "33039dc6-8242-4874-bea6-fd343d0525fd",
      "name": "Filter"
    },
    {
      "parameters": {
        "teamId": {
          "__rl": true,
          "mode": "id",
          "value": "626958a2-90d4-44f7-abb7-e341c7c44cd3"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "19:Sox62wdO17L8xais5cZjhDSMiEXNsni9syXcI0-ZKLM1@thread.tacv2"
        }
      },
      "type": "n8n-nodes-base.microsoftTeamsTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -80
      ],
      "id": "f5dc6332-c50c-4a6d-a9bd-fa5ad8f0bb8b",
      "name": "Microsoft Teams Trigger",
      "webhookId": "7c2969f4-9f8b-4e00-9ffd-ac2b367a43dc",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "2jep2hpnuYSPmlOk",
          "name": "Microsoft Teams(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        528,
        176
      ],
      "id": "5b63d395-690c-4c6f-8483-2a04098e92e0",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "hvgGDG1mfEiHgQF1",
          "name": "Azure-OpenAI(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.value[0].channelIdentity.channelId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        176
      ],
      "id": "85258f87-7522-42c4-8654-676e79f70e17",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        352
      ],
      "id": "46240c35-d020-45f8-a03b-34412e6e8187",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "工具用於AI Secretary 存取用戶的排程登錄,使用資料表為secretarydb",
        "operation": "executeQuery",
        "query": "{{ $fromAI(\"query\").replace(/<[^>]*>?/gm, '') }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        944,
        176
      ],
      "id": "7afd5b8c-eb5e-4156-9b2c-19925d5a0fae",
      "name": "secretarydb",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一個有用的AI 秘書,專門讀取用戶紀錄排程與在預定時間內執行排程後再將結果給輸出給用戶,使用secretarydb讀取排程",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        352
      ],
      "id": "86e9a5c5-c712-4a9a-947e-8b4d2d542659",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一個有用的AI秘書後端執行者,承續上個AI Agent1的指令,使用你連接的工具幫用戶執行排程內容\n工具1:NOCTT:幫用戶查詢NOCTT並回傳用戶要的結果",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        592,
        352
      ],
      "id": "4bd40056-a74f-4bf9-840b-eba151d542eb",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "工具用於AI Secretary 存取用戶的排程登錄,使用資料表為secretarydb",
        "operation": "executeQuery",
        "query": "{{ $fromAI(\"query\").replace(/<[^>]*>?/gm, '') }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        496,
        576
      ],
      "id": "c087fd37-328d-47ac-b6bf-2744acdc68d6",
      "name": "secretarydb1",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        160,
        608
      ],
      "id": "1ebd50b2-a085-4bfe-b773-5c0dc9057127",
      "name": "Azure OpenAI Chat Model1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "hvgGDG1mfEiHgQF1",
          "name": "Azure-OpenAI(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "當需要查詢 NOC_TT_AI_3 資料庫中的工單數據時，必須使用此工具。參數 query 請帶入純 SQL 語句。",
        "operation": "executeQuery",
        "query": "{{ $fromAI(\"query\") }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        832,
        560
      ],
      "id": "1e04706c-519d-4616-b2b8-53b8e0c18fc7",
      "name": "NOCTT",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        608,
        576
      ],
      "id": "799dba52-52c9-4e7a-b259-ad1872209199",
      "name": "Azure OpenAI Chat Model2",
      "credentials": {
        "azureOpenAiApi": {
          "id": "hvgGDG1mfEiHgQF1",
          "name": "Azure-OpenAI(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "mode": "id",
          "value": "626958a2-90d4-44f7-abb7-e341c7c44cd3",
          "__regex": "^([0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "19:Sox62wdO17L8xais5cZjhDSMiEXNsni9syXcI0-ZKLM1@thread.tacv2"
        },
        "contentType": "html",
        "message": "={{ $json.output.replace(/\\n/g, '<br>') }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        992,
        352
      ],
      "id": "942f6e4e-8ad9-471e-af40-5c5621caf7ee",
      "name": "Create message1",
      "webhookId": "ed022463-e19a-4cb9-a2e5-a60b424c45f4",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "2jep2hpnuYSPmlOk",
          "name": "Microsoft Teams(billyy,2026-01-03)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "取頻道對話1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Teams Trigger": {
      "main": [
        [
          {
            "node": "取頻道對話1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "secretarydb": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "secretarydb1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "NOCTT": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Create message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "42278715-4525-405e-9e4d-4c56f09a803d",
  "meta": {
    "instanceId": "d3cf18cd74dd25c4a9799187d60c623a8a494e015138d994a9f4aefc51661b5a"
  },
  "id": "yK8IioKN3Wf3mfup",
  "tags": []
}