AI_secretary_enhanced_20260408_v1.json
{
  "name": "AI_secretary_enhanced_B1",
  "nodes": [
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/teams/626958a2-90d4-44f7-abb7-e341c7c44cd3/channels/19:Sox62wdO17L8xais5cZjhDSMiEXNsni9syXcI0-ZKLM1@thread.tacv2/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$top",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        0
      ],
      "id": "79f4dec2-5b7a-4042-af50-a00270c796af",
      "name": "取頻道對話1",
      "credentials": {
        "oAuth2Api": {
          "id": "JMcGoaBxCaXP7XEA",
          "name": "TEAMS"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一個專業的AI秘書，專門幫助用戶通過自然語言創建、查詢和管理排程任務。\n\n## 核心功能\n1. **自然語言解析**：準確解析用戶訊息中的時間、任務類型和參數\n2. **排程記錄**：將解析結果儲存到secretarydb資料庫\n3. **用戶確認**：清晰回應用戶排程已記錄\n4. **錯誤處理**：當無法理解時，友好地要求澄清\n\n## 時間解析規則\n- **絕對時間**：\"明天下午三點\" → 轉換為具體日期時間\n- **相對時間**：\"兩小時後\" → 計算相對時間\n- **重複排程**：\"每天上午九點\" → 識別為重複排程\n- **時間範圍**：\"下週一到週三\" → 識別時間範圍\n\n## 任務類型識別\n1. **查詢工單** (query_ticket) - 關鍵詞：查詢、檢查、查看、工單、ticket\n2. **提醒通知** (reminder) - 關鍵詞：提醒、記得、通知、開會\n3. **自訂查詢** (custom_query) - 關鍵詞：查詢、數據、報告、統計\n4. **SSH指令** (ssh_command) - 關鍵詞：SSH、執行、命令、遠端\n\n## 回應格式\n```\n✅ 已記錄排程：\n📅 時間：{formatted_time}\n📝 任務：{task_description}\n🔧 類型：{task_type}\n📋 參數：{task_parameters}\n```\n\n## 數據儲存格式\n使用secretarydb工具儲存時，必須包含以下字段：\n- original_message: 原始用戶訊息\n- schedule_time: 解析後的時間（ISO格式）\n- task_type: 任務類型代碼\n- task_parameters: JSON格式參數\n- task_description: 人類可讀描述\n- parsed_intent: AI解析的完整意圖（JSON格式）\n\n## 錯誤處理\n1. **時間解析失敗**：請用戶提供更明確的時間\n2. **任務類型不明確**：列出可能的任務類型讓用戶選擇\n3. **參數不完整**：詢問缺失的參數\n4. **資料庫錯誤**：記錄錯誤並告知用戶稍後重試\n\n## 工具使用指南\n- **secretarydb**: 用於儲存和查詢排程記錄\n- 操作：executeQuery\n- 查詢格式：標準SQL語句",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        736,
        0
      ],
      "id": "5cdb1a1e-d2ae-483b-b999-a0f86cb3aaf0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "mode": "id",
          "value": "626958a2-90d4-44f7-abb7-e341c7c44cd3",
          "__regex": "^([0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "19:Sox62wdO17L8xais5cZjhDSMiEXNsni9syXcI0-ZKLM1@thread.tacv2"
        },
        "contentType": "html",
        "message": "={{ $json.output.replace(/\\n/g, '<br>') }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1168,
        0
      ],
      "id": "f3965fff-3520-46d9-a871-ec4dc5261c4f",
      "name": "Create message",
      "webhookId": "ed022463-e19a-4cb9-a2e5-a60b424c45f4",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "2jep2hpnuYSPmlOk",
          "name": "Microsoft Teams(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f97ddd73-6703-41c8-b61a-6d5ed71994ec",
              "leftValue": "={{ $json.value[0].body.content }}",
              "rightValue": "Powered by",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        432,
        0
      ],
      "id": "13f7a94a-a06c-4c17-a68d-eb79fbf5c13f",
      "name": "Filter"
    },
    {
      "parameters": {
        "teamId": {
          "__rl": true,
          "mode": "id",
          "value": "626958a2-90d4-44f7-abb7-e341c7c44cd3"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "19:Sox62wdO17L8xais5cZjhDSMiEXNsni9syXcI0-ZKLM1@thread.tacv2"
        }
      },
      "type": "n8n-nodes-base.microsoftTeamsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "59af3d7a-2c43-402e-95bb-733c6f23d680",
      "name": "Microsoft Teams Trigger",
      "webhookId": "7c2969f4-9f8b-4e00-9ffd-ac2b367a43dc",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "2jep2hpnuYSPmlOk",
          "name": "Microsoft Teams(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        624,
        256
      ],
      "id": "fdaa3aed-04cd-4a27-9272-1945a9ee8a43",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "hvgGDG1mfEiHgQF1",
          "name": "Azure-OpenAI(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.value[0].channelIdentity.channelId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        832,
        256
      ],
      "id": "b9435b16-fe42-45c1-abcf-85cbd68731ec",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "工具用於AI Secretary 存取用戶的排程登錄,使用資料表為secretarydb",
        "operation": "executeQuery",
        "query": "EXEC sp_insert_schedule @original_message = '{{ $json.original_message.replace(/'/g, \"''\") }}', @schedule_time = '{{ $json.schedule_time }}', @task_type = '{{ $json.task_type }}', @task_parameters = '{{ JSON.stringify($json.task_parameters).replace(/'/g, \"''\") }}', @task_description = '{{ $json.task_description.replace(/'/g, \"''\") }}', @parsed_intent = '{{ JSON.stringify($json.parsed_intent).replace(/'/g, \"''\") }}', @user_id = '{{ $json.user_id }}', @user_name = '{{ $json.user_name.replace(/'/g, \"''\") }}', @channel_id = '{{ $json.channel_id }}'"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        1040,
        256
      ],
      "id": "0b93ebef-84df-4a04-9cbb-d08b159abcf3",
      "name": "secretarydb",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        704
      ],
      "id": "12fc0262-7ac7-42b0-8dba-817db04d42ed",
      "name": "Precise Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 2,
      "position": [
        144,
        704
      ],
      "id": "5a0422ce-a95a-4f82-bd60-c2a0ba675830",
      "name": "Get Pending Schedules",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        368,
        704
      ],
      "id": "52123a45-8836-4605-8b3f-aa4bbe787b5c",
      "name": "Split in Batches"
    },
    {
      "parameters": {
        "functionCode": "// 準備排程執行參數\nconst schedule = $input.item.json;\n\n// 構建執行參數\nconst executionParams = {\n  schedule_id: schedule.id,\n  record_uuid: schedule.record_uuid,\n  task_type: schedule.task_type,\n  task_parameters: schedule.task_parameters,\n  task_description: schedule.task_description,\n  user_id: schedule.user_id,\n  user_name: schedule.user_name,\n  channel_id: schedule.channel_id || $env.TEAMS_DEFAULT_CHANNEL,\n  handler_agent: schedule.handler_agent || 'AI Agent2',\n  timeout_seconds: schedule.timeout_seconds || 300\n};\n\n// 更新狀態為 executing\nconst updateQuery = `EXEC sp_update_schedule_status \n  @schedule_id = ${schedule.id},\n  @new_status = 'executing'`;\n\nreturn [\n  {\n    json: {\n      ...schedule,\n      execution_params: executionParams,\n      update_query: updateQuery\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        592,
        704
      ],
      "id": "337617ef-24f6-4609-88a5-8df51c67e5a3",
      "name": "Prepare Execution"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 2,
      "position": [
        816,
        704
      ],
      "id": "40ed94dd-e8b8-4b7d-8784-10ed3d2b2404",
      "name": "Update Status to Executing",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {},
            {},
            {},
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1040,
        704
      ],
      "id": "57a5b450-3c53-47b9-ba04-9d73d64ca333",
      "name": "Route by Task Type"
    },
    {
      "parameters": {
        "functionCode": "// 執行查詢工單任務\nconst params = $input.item.json.execution_params;\n\n// 構建NOCTT查詢參數\nconst queryParams = JSON.parse(params.task_parameters || '{}');\n\n// 根據參數生成SQL查詢\nlet sqlQuery = \"SELECT TOP 100 * FROM NOC_TT_AI_3 WHERE 1=1\";\n\nif (queryParams.class_level) {\n  sqlQuery += ` AND Class_Level = '${queryParams.class_level.replace(/[';]/g, '')}'`;\n}\n\nif (queryParams.status) {\n  sqlQuery += ` AND Status = '${queryParams.status.replace(/[';]/g, '')}'`;\n}\n\nif (queryParams.date_range) {\n  const startDate = new Date();\n  startDate.setDate(startDate.getDate() - (queryParams.date_range.days || 7));\n  sqlQuery += ` AND Created_Date >= '${startDate.toISOString().split('T')[0]}'`;\n}\n\nsqlQuery += \" ORDER BY Created_Date DESC\";\n\nreturn [\n  {\n    json: {\n      ...$input.item.json,\n      sql_query: sqlQuery,\n      target_tool: \"NOCTT\",\n      execution_type: \"query_ticket\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1040,
        912
      ],
      "id": "b33548f5-f7bb-4f29-b240-5a47bfdc3eb4",
      "name": "Prepare Query Ticket"
    },
    {
      "parameters": {
        "functionCode": "// 執行提醒任務\nconst params = $input.item.json.execution_params;\n\n// 構建提醒訊息\nconst reminderMessage = `⏰ 提醒：${params.task_description}\\n\\n` +\n  `📅 預定時間：${new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' })}\\n` +\n  `👤 建立者：${params.user_name}`;\n\nreturn [\n  {\n    json: {\n      ...$input.item.json,\n      reminder_message: reminderMessage,\n      execution_type: \"reminder\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1040,
        1104
      ],
      "id": "eec583d1-84a7-47fa-a94d-48ef2b5dfa71",
      "name": "Prepare Reminder"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "當需要查詢 NOC_TT_AI_3 資料庫中的工單數據時，必須使用此工具。參數 query 請帶入純 SQL 語句。",
        "operation": "executeQuery",
        "query": "{{ $json.sql_query }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        1328,
        912
      ],
      "id": "9234d1e6-0e88-4a35-81aa-85355dffdb6e",
      "name": "Execute NOCTT Query",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// 處理查詢結果\nconst queryResult = $input.item.json;\nconst scheduleData = $input.item.json[0]?.json?.scheduleData || $input.item.json;\n\n// 格式化結果\nlet formattedResult = \"查詢完成！\\\\n\\\\n\";\n\nif (queryResult && queryResult.length > 0) {\n  formattedResult += `📊 找到 ${queryResult.length} 筆記錄\\\\n\\\\n`;\n  \n  // 取前5筆顯示摘要\n  const sampleCount = Math.min(5, queryResult.length);\n  for (let i = 0; i < sampleCount; i++) {\n    const record = queryResult[i];\n    formattedResult += `${i+1}. ${record.Class_Level || 'N/A'} - ${record.Status || 'N/A'} - ${record.Created_Date || 'N/A'}\\n`;\n  }\n  \n  if (queryResult.length > sampleCount) {\n    formattedResult += `... 還有 ${queryResult.length - sampleCount} 筆記錄\\n`;\n  }\n} else {\n  formattedResult += \"📭 未找到符合條件的記錄\\n\";\n}\n\nreturn [\n  {\n    json: {\n      ...scheduleData,\n      query_result: queryResult,\n      formatted_result: formattedResult,\n      result_count: queryResult ? queryResult.length : 0,\n      execution_status: \"success\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1600,
        912
      ],
      "id": "3c8766ef-80cf-4b36-abd4-a0c2159dc48b",
      "name": "Format Query Result"
    },
    {
      "parameters": {
        "functionCode": "// 合併所有執行結果\nconst executionResult = $input.item.json;\n\n// 構建Teams訊息\nlet teamsMessage = \"\";\n\nif (executionResult.execution_type === \"query_ticket\") {\n  teamsMessage = `✅ 工單查詢完成：${executionResult.task_description}\\n\\n` +\n    executionResult.formatted_result +\n    `\\n⏱️ 執行時間：${new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' })}`;\n} else if (executionResult.execution_type === \"reminder\") {\n  teamsMessage = executionResult.reminder_message;\n}\n\n// 添加任務ID\nif (executionResult.schedule_id) {\n  teamsMessage += `\\n📋 任務ID：${executionResult.schedule_id}`;\n}\n\nreturn [\n  {\n    json: {\n      ...executionResult,\n      teams_message: teamsMessage,\n      final_status: \"completed\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1872,
        816
      ],
      "id": "844d4ab0-c061-4cc9-959c-b4f981dc206e",
      "name": "Prepare Teams Message"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "mode": "id",
          "value": "626958a2-90d4-44f7-abb7-e341c7c44cd3",
          "__regex": "^([0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.channel_id || $env.TEAMS_DEFAULT_CHANNEL }}"
        },
        "contentType": "html",
        "message": "={{ $json.teams_message.replace(/\\\\n/g, '<br>') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        2144,
        816
      ],
      "id": "774f6aa1-a0c8-414b-b96e-1a07b5d05a02",
      "name": "Send Result to Teams",
      "webhookId": "ed022463-e19a-4cb9-a2e5-a60b424c45f4",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "2jep2hpnuYSPmlOk",
          "name": "Microsoft Teams(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 2,
      "position": [
        2416,
        816
      ],
      "id": "09156eda-e2e8-49fc-9f1c-93bcfc65a4b6",
      "name": "Update Status to Completed",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// 錯誤處理函數\nconst errorData = $input.item.json;\n\n// 記錄錯誤日誌\nconst errorLog = {\n  timestamp: new Date().toISOString(),\n  schedule_id: errorData.schedule_id,\n  error_type: errorData.error?.type || 'unknown',\n  error_message: errorData.error?.message || '未知錯誤',\n  stack_trace: errorData.error?.stack,\n  execution_context: errorData\n};\n\n// 構建錯誤訊息\nlet errorMessage = `❌ 任務執行失敗：${errorData.task_description || '未知任務'}\\n\\n` +\n  `⚠️ 錯誤原因：${errorData.error?.message || '未知錯誤'}\\n` +\n  `🔧 建議操作：請聯繫系統管理員或稍後重試\\n` +\n  `⏱️ 發生時間：${new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' })}`;\n\nif (errorData.schedule_id) {\n  errorMessage += `\\n📋 任務ID：${errorData.schedule_id}`;\n}\n\nreturn [\n  {\n    json: {\n      ...errorData,\n      error_log: errorLog,\n      error_message_display: errorMessage,\n      final_status: \"failed\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1600,
        1104
      ],
      "id": "3c45fae4-2fc6-4bba-a06a-b0a80d6d52ac",
      "name": "Handle Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 2,
      "position": [
        1872,
        1104
      ],
      "id": "f53ab002-46e4-4ec7-9306-2b68a2650663",
      "name": "Log Error",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "mode": "id",
          "value": "626958a2-90d4-44f7-abb7-e341c7c44cd3",
          "__regex": "^([0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.channel_id || $env.TEAMS_DEFAULT_CHANNEL }}"
        },
        "contentType": "html",
        "message": "={{ $json.error_message_display.replace(/\\\\n/g, '<br>') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        2144,
        1104
      ],
      "id": "49e88c9c-ffc6-4711-9d31-89528fe4827a",
      "name": "Send Error Message",
      "webhookId": "ed022463-e19a-4cb9-a2e5-a60b424c45f4",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "2jep2hpnuYSPmlOk",
          "name": "Microsoft Teams(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 2,
      "position": [
        2416,
        1104
      ],
      "id": "c1ef13fb-3185-485a-ad89-0ba5f718c3e2",
      "name": "Update Status to Failed",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "取頻道對話1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Teams Trigger": {
      "main": [
        [
          {
            "node": "取頻道對話1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "secretarydb": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Prepare Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Task Type": {
      "main": [
        [
          {
            "node": "Prepare Query Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Query Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Query Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reminder": {
      "main": [
        [
          {
            "node": "Prepare Teams Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Query Result": {
      "main": [
        [
          {
            "node": "Prepare Teams Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Teams Message": {
      "main": [
        [
          {
            "node": "Send Result to Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d5e32b00-1378-47c0-9eef-50978a27874b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3cf18cd74dd25c4a9799187d60c623a8a494e015138d994a9f4aefc51661b5a"
  },
  "id": "yK8IioKN3Wf3mfup",
  "tags": []
}