AI_secretary_enhanced_B1.json
{
  "name": "AI_secretary_enhanced_B1",
  "nodes": [
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/teams/626958a2-90d4-44f7-abb7-e341c7c44cd3/channels/19:Sox62wdO17L8xais5cZjhDSMiEXNsni9syXcI0-ZKLM1@thread.tacv2/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$top",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3104,
        -992
      ],
      "id": "907332f5-6b1b-491c-8fb6-7c99ba382adb",
      "name": "取頻道對話1",
      "credentials": {
        "oAuth2Api": {
          "id": "JMcGoaBxCaXP7XEA",
          "name": "TEAMS"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一個專業的AI秘書，專門幫助用戶通過自然語言創建、查詢和管理排程任務。\n\n## 核心功能\n1. **自然語言解析**：準確解析用戶訊息中的時間、任務類型和參數\n2. **排程記錄**：將解析結果儲存到secretarydb資料庫\n3. **用戶確認**：清晰回應用戶排程已記錄\n4. **錯誤處理**：當無法理解時，友好地要求澄清\n\n## 時間解析規則\n- **絕對時間**：\"明天下午三點\" → 轉換為具體日期時間\n- **相對時間**：\"兩小時後\" → 計算相對時間\n- **重複排程**：\"每天上午九點\" → 識別為重複排程\n- **時間範圍**：\"下週一到週三\" → 識別時間範圍\n\n## 任務類型識別\n1. **查詢工單** (query_ticket) - 關鍵詞：查詢、檢查、查看、工單、ticket\n2. **提醒通知** (reminder) - 關鍵詞：提醒、記得、通知、開會\n3. **自訂查詢** (custom_query) - 關鍵詞：查詢、數據、報告、統計\n4. **SSH指令** (ssh_command) - 關鍵詞：SSH、執行、命令、遠端\n\n## 回應格式\n```\n✅ 已記錄排程：\n📅 時間：{formatted_time}\n📝 任務：{task_description}\n🔧 類型：{task_type}\n📋 參數：{task_parameters}\n```\n\n## 數據儲存格式\n使用secretarydb工具儲存時，必須包含以下字段：\n- original_message: 原始用戶訊息\n- schedule_time: 解析後的時間（ISO格式）\n- task_type: 任務類型代碼\n- task_parameters: JSON格式參數\n- task_description: 人類可讀描述\n- parsed_intent: AI解析的完整意圖（JSON格式）\n\n## 錯誤處理\n1. **時間解析失敗**：請用戶提供更明確的時間\n2. **任務類型不明確**：列出可能的任務類型讓用戶選擇\n3. **參數不完整**：詢問缺失的參數\n4. **資料庫錯誤**：記錄錯誤並告知用戶稍後重試\n\n## 工具使用指南\n- **secretarydb**: 用於儲存和查詢排程記錄\n- 操作：executeQuery\n- 查詢格式：標準SQL語句",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3616,
        -992
      ],
      "id": "57f13c12-7d73-480d-a5b2-2d0440cff53b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "mode": "id",
          "value": "626958a2-90d4-44f7-abb7-e341c7c44cd3",
          "__regex": "^([0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "19:Sox62wdO17L8xais5cZjhDSMiEXNsni9syXcI0-ZKLM1@thread.tacv2"
        },
        "contentType": "html",
        "message": "={{ $json.output.replace(/\\n/g, '<br>') }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        4048,
        -992
      ],
      "id": "0902585d-a8f2-4246-a8dc-dc624505ba19",
      "name": "Create message",
      "webhookId": "ed022463-e19a-4cb9-a2e5-a60b424c45f4",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "2jep2hpnuYSPmlOk",
          "name": "Microsoft Teams(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f97ddd73-6703-41c8-b61a-6d5ed71994ec",
              "leftValue": "={{ $json.value[0].body.content }}",
              "rightValue": "Powered by",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3312,
        -992
      ],
      "id": "fb83f9db-da30-4db2-b105-fc9af7a8dba2",
      "name": "Filter"
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        3504,
        -736
      ],
      "id": "c225bd76-9f34-4b3c-9983-0bc5ff7b5504",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "hvgGDG1mfEiHgQF1",
          "name": "Azure-OpenAI(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.value[0].channelIdentity.channelId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3712,
        -736
      ],
      "id": "eb2ac567-5658-4a28-bfab-75825b0a48ca",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "工具用於AI Secretary 存取用戶的排程登錄,使用資料表為schedules",
        "operation": "executeQuery",
        "query": "{{ $fromAI(\"query\").replace(/<[^>]*>?/gm, '') }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        3920,
        -736
      ],
      "id": "36aead0f-26b1-4f8e-bf0a-2cfa8faf4a89",
      "name": "secretarydb",
      "credentials": {
        "microsoftSql": {
          "id": "pZW7j70R6tvG0UYm",
          "name": "Microsoft SQL account 4"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        2656,
        -432
      ],
      "id": "64008d48-545e-4975-add5-5184051861a1",
      "name": "Precise Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 2,
      "position": [
        2928,
        -432
      ],
      "id": "10419779-f257-420b-a45b-013afb3a2544",
      "name": "Get Pending Schedules",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        3152,
        -432
      ],
      "id": "593a1120-96b1-41ca-8f63-04f3e235f7b0",
      "name": "Split in Batches"
    },
    {
      "parameters": {
        "functionCode": "// 準備排程執行參數\nconst schedule = $input.item.json;\n\n// 構建執行參數\nconst executionParams = {\n  schedule_id: schedule.id,\n  record_uuid: schedule.record_uuid,\n  task_type: schedule.task_type,\n  task_parameters: schedule.task_parameters,\n  task_description: schedule.task_description,\n  user_id: schedule.user_id,\n  user_name: schedule.user_name,\n  channel_id: schedule.channel_id || $env.TEAMS_DEFAULT_CHANNEL,\n  handler_agent: schedule.handler_agent || 'AI Agent2',\n  timeout_seconds: schedule.timeout_seconds || 300\n};\n\n// 更新狀態為 executing\nconst updateQuery = `EXEC sp_update_schedule_status \n  @schedule_id = ${schedule.id},\n  @new_status = 'executing'`;\n\nreturn [\n  {\n    json: {\n      ...schedule,\n      execution_params: executionParams,\n      update_query: updateQuery\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        3376,
        -432
      ],
      "id": "339b98d0-f97c-4ff0-902e-43290dc3c731",
      "name": "Prepare Execution"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 2,
      "position": [
        3600,
        -432
      ],
      "id": "a965ce95-d13b-4916-9359-afcaae69a961",
      "name": "Update Status to Executing",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {},
            {},
            {},
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        3824,
        -544
      ],
      "id": "15e7efa2-9f91-4c89-ad07-809d7c95473e",
      "name": "Route by Task Type"
    },
    {
      "parameters": {
        "functionCode": "// 執行查詢工單任務\nconst params = $input.item.json.execution_params;\n\n// 構建NOCTT查詢參數\nconst queryParams = JSON.parse(params.task_parameters || '{}');\n\n// 根據參數生成SQL查詢\nlet sqlQuery = \"SELECT TOP 100 * FROM NOC_TT_AI_3 WHERE 1=1\";\n\nif (queryParams.class_level) {\n  sqlQuery += ` AND Class_Level = '${queryParams.class_level.replace(/[';]/g, '')}'`;\n}\n\nif (queryParams.status) {\n  sqlQuery += ` AND Status = '${queryParams.status.replace(/[';]/g, '')}'`;\n}\n\nif (queryParams.date_range) {\n  const startDate = new Date();\n  startDate.setDate(startDate.getDate() - (queryParams.date_range.days || 7));\n  sqlQuery += ` AND Created_Date >= '${startDate.toISOString().split('T')[0]}'`;\n}\n\nsqlQuery += \" ORDER BY Created_Date DESC\";\n\nreturn [\n  {\n    json: {\n      ...$input.item.json,\n      sql_query: sqlQuery,\n      target_tool: \"NOCTT\",\n      execution_type: \"query_ticket\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        3824,
        -224
      ],
      "id": "0f915545-d6a4-4481-a54e-069891a3508a",
      "name": "Prepare Query Ticket"
    },
    {
      "parameters": {
        "functionCode": "// 執行提醒任務\nconst params = $input.item.json.execution_params;\n\n// 構建提醒訊息\nconst reminderMessage = `⏰ 提醒：${params.task_description}\\n\\n` +\n  `📅 預定時間：${new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' })}\\n` +\n  `👤 建立者：${params.user_name}`;\n\nreturn [\n  {\n    json: {\n      ...$input.item.json,\n      reminder_message: reminderMessage,\n      execution_type: \"reminder\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        3824,
        -32
      ],
      "id": "70d1af9c-fb0c-4c8d-ba6d-d069eb6addbb",
      "name": "Prepare Reminder"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "當需要查詢 NOC_TT_AI_3 資料庫中的工單數據時，必須使用此工具。參數 query 請帶入純 SQL 語句。",
        "operation": "executeQuery",
        "query": "{{ $json.sql_query }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        4096,
        -288
      ],
      "id": "a9593db4-74cb-43b9-b796-ffc185706f59",
      "name": "Execute NOCTT Query",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// 處理查詢結果\nconst queryResult = $input.item.json;\nconst scheduleData = $input.item.json[0]?.json?.scheduleData || $input.item.json;\n\n// 格式化結果\nlet formattedResult = \"查詢完成！\\\\n\\\\n\";\n\nif (queryResult && queryResult.length > 0) {\n  formattedResult += `📊 找到 ${queryResult.length} 筆記錄\\\\n\\\\n`;\n  \n  // 取前5筆顯示摘要\n  const sampleCount = Math.min(5, queryResult.length);\n  for (let i = 0; i < sampleCount; i++) {\n    const record = queryResult[i];\n    formattedResult += `${i+1}. ${record.Class_Level || 'N/A'} - ${record.Status || 'N/A'} - ${record.Created_Date || 'N/A'}\\n`;\n  }\n  \n  if (queryResult.length > sampleCount) {\n    formattedResult += `... 還有 ${queryResult.length - sampleCount} 筆記錄\\n`;\n  }\n} else {\n  formattedResult += \"📭 未找到符合條件的記錄\\n\";\n}\n\nreturn [\n  {\n    json: {\n      ...scheduleData,\n      query_result: queryResult,\n      formatted_result: formattedResult,\n      result_count: queryResult ? queryResult.length : 0,\n      execution_status: \"success\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        4432,
        -176
      ],
      "id": "ed7dc3b2-48d1-40c4-84a4-c2b34924f1d7",
      "name": "Format Query Result"
    },
    {
      "parameters": {
        "functionCode": "// 合併所有執行結果\nconst executionResult = $input.item.json;\n\n// 構建Teams訊息\nlet teamsMessage = \"\";\n\nif (executionResult.execution_type === \"query_ticket\") {\n  teamsMessage = `✅ 工單查詢完成：${executionResult.task_description}\\n\\n` +\n    executionResult.formatted_result +\n    `\\n⏱️ 執行時間：${new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' })}`;\n} else if (executionResult.execution_type === \"reminder\") {\n  teamsMessage = executionResult.reminder_message;\n}\n\n// 添加任務ID\nif (executionResult.schedule_id) {\n  teamsMessage += `\\n📋 任務ID：${executionResult.schedule_id}`;\n}\n\nreturn [\n  {\n    json: {\n      ...executionResult,\n      teams_message: teamsMessage,\n      final_status: \"completed\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        4656,
        -320
      ],
      "id": "13883f29-214e-4437-bafe-8a03b49dd9e0",
      "name": "Prepare Teams Message"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "mode": "id",
          "value": "626958a2-90d4-44f7-abb7-e341c7c44cd3",
          "__regex": "^([0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.channel_id || $env.TEAMS_DEFAULT_CHANNEL }}"
        },
        "contentType": "html",
        "message": "={{ $json.teams_message.replace(/\\\\n/g, '<br>') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        4928,
        -320
      ],
      "id": "3c87b4fa-5c9d-47ed-bb7f-113aa4aee627",
      "name": "Send Result to Teams",
      "webhookId": "ed022463-e19a-4cb9-a2e5-a60b424c45f4",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "2jep2hpnuYSPmlOk",
          "name": "Microsoft Teams(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 2,
      "position": [
        5200,
        -320
      ],
      "id": "27670675-b7ea-488f-8092-2236a97a0e03",
      "name": "Update Status to Completed",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// 錯誤處理函數\nconst errorData = $input.item.json;\n\n// 記錄錯誤日誌\nconst errorLog = {\n  timestamp: new Date().toISOString(),\n  schedule_id: errorData.schedule_id,\n  error_type: errorData.error?.type || 'unknown',\n  error_message: errorData.error?.message || '未知錯誤',\n  stack_trace: errorData.error?.stack,\n  execution_context: errorData\n};\n\n// 構建錯誤訊息\nlet errorMessage = `❌ 任務執行失敗：${errorData.task_description || '未知任務'}\\n\\n` +\n  `⚠️ 錯誤原因：${errorData.error?.message || '未知錯誤'}\\n` +\n  `🔧 建議操作：請聯繫系統管理員或稍後重試\\n` +\n  `⏱️ 發生時間：${new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' })}`;\n\nif (errorData.schedule_id) {\n  errorMessage += `\\n📋 任務ID：${errorData.schedule_id}`;\n}\n\nreturn [\n  {\n    json: {\n      ...errorData,\n      error_log: errorLog,\n      error_message_display: errorMessage,\n      final_status: \"failed\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        4384,
        -32
      ],
      "id": "d8924033-5bae-4bcc-b01f-42109341b370",
      "name": "Handle Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 2,
      "position": [
        4656,
        -32
      ],
      "id": "0549468a-74ae-469f-b97c-d56574751bac",
      "name": "Log Error",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "mode": "id",
          "value": "626958a2-90d4-44f7-abb7-e341c7c44cd3",
          "__regex": "^([0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.channel_id || $env.TEAMS_DEFAULT_CHANNEL }}"
        },
        "contentType": "html",
        "message": "={{ $json.error_message_display.replace(/\\\\n/g, '<br>') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        4928,
        -32
      ],
      "id": "d09819e3-6aa3-4fbf-a09a-356eeb4599dd",
      "name": "Send Error Message",
      "webhookId": "ed022463-e19a-4cb9-a2e5-a60b424c45f4",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "2jep2hpnuYSPmlOk",
          "name": "Microsoft Teams(billyy,2026-01-03)"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 2,
      "position": [
        5200,
        -32
      ],
      "id": "b1b0f2cb-031a-4a7b-8521-9a60df261480",
      "name": "Update Status to Failed",
      "credentials": {
        "microsoftSql": {
          "id": "aRzYQ0Hf0qsCHiZX",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "teamId": {
          "__rl": true,
          "mode": "id",
          "value": "626958a2-90d4-44f7-abb7-e341c7c44cd3"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "19:Sox62wdO17L8xais5cZjhDSMiEXNsni9syXcI0-ZKLM1@thread.tacv2"
        }
      },
      "type": "n8n-nodes-base.microsoftTeamsTrigger",
      "typeVersion": 1,
      "position": [
        2896,
        -992
      ],
      "id": "8b789c37-5e0b-4a49-9a05-9ec72dfc2aab",
      "name": "Microsoft Teams Trigger",
      "webhookId": "f3465488-ef49-4d09-a97d-f615347eae1c",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "2jep2hpnuYSPmlOk",
          "name": "Microsoft Teams(billyy,2026-01-03)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "取頻道對話1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "secretarydb": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Prepare Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Task Type": {
      "main": [
        [
          {
            "node": "Prepare Query Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Query Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Query Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reminder": {
      "main": [
        [
          {
            "node": "Prepare Teams Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Query Result": {
      "main": [
        [
          {
            "node": "Prepare Teams Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Teams Message": {
      "main": [
        [
          {
            "node": "Send Result to Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Teams Trigger": {
      "main": [
        [
          {
            "node": "取頻道對話1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f631ba0e-26f6-40ba-9a21-c25690116bb1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3cf18cd74dd25c4a9799187d60c623a8a494e015138d994a9f4aefc51661b5a"
  },
  "id": "yK8IioKN3Wf3mfup",
  "tags": []
}